<div class="form-group">
    <mat-radio-group [(ngModel)]="filter">
        <mat-card>  
            <mat-radio-button [value]="1">European Union </mat-radio-button>
            <mat-radio-button [value]="2">European Free Trade Association </mat-radio-button>
            <mat-radio-button [value]="3">Uses Euro </mat-radio-button>
        </mat-card>
        <div class="align-center">
            <button mat-raised-button color="primary" (click)="submit(filter)">Search countries</button>
        </div>
    </mat-radio-group>
</div>

        
 <mat-list>
    <div *ngIf="countries.length != 0">
        <mat-card>
            <mat-list-item mat-stroked-button *ngFor="let country of countries" routerLink="/detail/{{country.alpha3Code}}"> 
                <hr>
                <img matListAvatar src="{{country.flag}}">
                <h3 matLine> {{country.name}} </h3>
                <h4 matLine>
                    <span> Capital: {{country.capital}} </span>
                </h4>  
                <hr>
            </mat-list-item>
        </mat-card>
    </div>
</mat-list>

    

    
    <!-- </div> -->
    
    <!-- <app-country-detail [country]="selectedCountry"></app-country-detail> -->