<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <span><img src="./assets/planet-earth.png"></span>
    </div>    
    <span class="fill-remaining-space"></span>
    <span class="spacer"></span>

    
      <a href="https://github.com/FecheGio/CoolCountriesApp" mat-button>
        <i class="fab fa-github"></i>
        Repo 
      </a>
    <a href="#"  mat-button>Contact</a>
  </mat-toolbar-row>
</mat-toolbar>

<h1>{{title}}</h1>

<router-outlet></router-outlet>

<!-- <app-countries></app-countries> -->
